# Dependencies
node_modules
.pnp
.pnp.js
package-lock.json
yarn.lock


# Build outputs
dist
.next
.turbo
out
build
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
.env.development
.env.production

# AWS / Serverless
.serverless
cdk.out
*.zip

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Test coverage
coverage
.nyc_output

# Prisma
prisma/migrations/**/migration_lock.toml
api/prisma/migrations/**/migration_lock.toml

#Ign